amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
coreapi==2.3.1
coreschema==0.0.4
crispy-forms-materialize==0.2
decorator==4.0.10
defusedxml==0.5.0
Django==1.11.5
django-allauth==0.33.0
django-appconf==1.0.2
django-bitfield==1.9.3
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-enumfields==0.9.0
django-extensions==1.9.1
django-filter==1.0.4
django-imagekit==4.0.1
django-materializecss-form==1.0.1
django-redis==4.4.4
django-rest-auth==0.9.1
django-rest-swagger==2.1.2
django-taggit==0.22.1
django-taggit-autosuggest==0.3.1
django-taggit-serializer==0.1.5
django-vanilla-views==1.0.4
djangorestframework==3.6.4
drf-openapi==0.9.7
enum34==1.1.6
idna==2.6
imageio==1.6
itypes==1.1.0
Jinja2==2.9.6
kombu==3.0.35
MarkupSafe==1.0
moviepy==0.2.2.11
numpy==1.13.1
oauthlib==2.0.4
olefile==0.44
openapi-codec==1.3.2
pilkit==2.0
Pillow==8.2.0
python-memcached==1.54
python-openid==2.2.5
python3-openid==3.1.0
pytz==2017.2
raven==5.3.1
redis==2.10.5
requests==2.18.4
requests-oauthlib==0.8.0
shortuuid==0.4.2
simplejson==3.11.1
six==1.11.0
sqlparse==0.2.3
tqdm==4.8.4
uritemplate==3.0.0
urllib3==1.22
Werkzeug==0.12.2
