{% extends "igng_base.html" %}
{% load staticfiles %}

{% block hero %}
    <div class="section no-pad-bot" id="index-banner">

        <div class="container">
            <h1 class="header center purple-text">iGNG</h1>
            <div class="row center">
                <h5 class="header col s12 light">Your Galleries</h5>
            </div>
        </div>
    </div>

{% endblock %}
{% block contentarea %}

    <div class="container">
        <div class="right-align">
            <a href="{% url "user_gallery_create" %}" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi mdi-plus"></i></a>
        </div>
        <div class="section">
            <div class="row">
                {% for object in galleries %}

                    <div class="col s4 m4">
                        <div class="card small">
                            <div class="card-image">
                                <a href="{% url "user_gallery_images" object.uuid %}">
                                    {% if object.has_images %}
                                        <img src="{{ object.rand_img.preview.url }}">
                                    {% else %}
                                        <img src="{% static "img/placeholder_400x150_a.png" %}"/>
                                    {% endif %}
                                    <span class="card-title">{{ object.title }}</span>
                                </a>
                            </div>
                            <div class="card-content">
                                {% if object.rel_start %}
                                    <p>Start: {{ object.rel_start }}</p>
                                {% endif %}
                                {% if object.rel_end %}
                                    <p>Start: {{ object.rel_end }}</p>
                                {% endif %}
                                {% if not object.rel_start and not object.rel_end %}
                                    Last Updated: {{ object.updated }}
                                {% endif %}
                            </div>
                            <div class="card-action">
                                <a class="right" href="{% url "user_gallery_settings" object.uuid %}"><i
                                        class="small mdi mdi-settings"></i></a>
                                <a href="{% url "user_gallery_privacy_toggle" object.uuid %}">
                                    {% if object.private %}
                                        Currently Private
                                    {% else %}
                                        Currently Public
                                    {% endif %}
                                </a>
                                <a href="{% url "gallery_permalink" object.uuid %}">Perma</a>

                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="row center">
                        <h1 class="header center orange-text">No Galleries</h1>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <ul class="pagination">
                    {% if galleries.has_previous %}
                        <li><a href="?page={{ galleries.previous_page_number }}"><i
                                class="mdi mdi-chevron-left"></i></a></li>
                    {% else %}
                        <li class="disabled"><a href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                    {% endif %}

                    {% for p in galleries.paginator.page_range %}
                        <li class="orange darken-3 waves-effect{% if p == galleries.number %} active{% endif %}"><a
                                href="?page={{ p }}">{{ p }}</a></li>
                    {% endfor %}


                    {% if galleries.has_next %}
                        <li><a href="?page={{ galleries.next_page_number }}"><i
                                class="mdi mdi-chevron-right"></i></a></li>
                    {% else %}
                        <li class="disabled"><a href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

