{% extends "igng_base.html" %}
{% load staticfiles %}
{% load materializecss %}

  {% block hero %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center purple-text">iGNG</h1>
      <div class="row center">
        <h5 class="header col s12 light">Gallery Settings For {{ gallery.title }}</h5>
      </div>

    </div>
  </div>
  {% endblock %}
  {% block contentarea %}

  <div class="container">
    <div class="section">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|materializecss }}
            <br />
            <input type="submit" value="Submit" />
        </form>
    </div>
  </div>
  {% endblock %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
