{% extends "igng_base.html" %}
{% load staticfiles %}
{% load markup_tags %}

{% block hero %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center purple-text">iGNG</h1>

            <div class="row center">
                <h5 class="header col s12 light">
                    {% if gallery_name %}
                        Images in {{ gallery_name }}
                    {% else %}
                        Your Images
                    {% endif %}
                </h5>
            </div>
        </div>
    </div>
{% endblock %}
{% block contentarea %}

    <div class="container">
        <div class="right-align">
            {% if is_users_gallery %}
                <a href="{% url "user_gallery_upload" gallery.uuid %}"
                   class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add"></i></a>
            {% elif is_default_gallery %}
                <a href="{% url "upload_img" %}" class="btn-floating btn-large waves-effect waves-light red"><i
                        class="mdi-content-add"></i></a>
            {% else %}
                {# nothing here then #}
            {% endif %}
        </div>
        <div class="section">
            <div class="row">
                {% for object in images %}
                    {# Each "contact" is a Contact model object. #}

                    <div class="col {{ gallery.template_display_class }}">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ object.default.url }}">
                                <span class="card-title">{{ object.title }}</span>
                            </div>
                            <div class="card-content">
                                <i class="mdi-navigation-more-vert right activator"></i>
                                {% if object.tags.exists %}
                                    <p>
                                        {% for t in object.tags.all %}
                                            <a class="">{{ t }}</a>
                                        {% endfor %}
                                    </p>
                                {% else %}
                                    <p class="grey-text lighten-1">No Tags</p>
                                {% endif %}
                            </div>
{#                            <div class="card-action">#}

{#                            </div>#}
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ object.title }} <i class="mdi-navigation-close right"></i></span>
                                <div class="card-action">
                                    <a href="{{ object.full_fixed.url }}">Full Size</a>
                                    <a href='{{ object.bigger.url }}'>Bigger</a>
                                    <a href='{{ object.default.url }}'>Default Size</a>
                                    <a href='{{ object.preview.url }}'>Preview Size</a>
                                    <a href='{{ object.thumb.url }}'>Thumbnail</a>
                                    <a href='{{ object.tiny_thumb }}'>Tiny Thumbnail</a>
                                </div>
                                <div class="card-action">
                                    <div class="row">
                                        <div class="col s4">&emsp;</div>
                                        <div class="col s4">Full</div>
                                        <div class="col s4">Default</div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">BBCode</div>
                                        <div class="col s4">{% g_bb object.full_fixed object.title %}</div>
                                        <div class="col s4">{% g_bb object.default object.title %}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">LinkedBB</div>
                                        <div class="col s4">{% g_bb_linked object.full_fixed object.title %}</div>
                                        <div class="col s4">{% g_bb_linked object.default object.title %}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">MarkDown</div>
                                        <div class="col s4">{% g_markdown object.full_fixed object.title %}</div>
                                        <div class="col s4">{% g_markdown object.default object.title %}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">HTML</div>
                                        <div class="col s4">{% g_html object.full_fixed object.title %}</div>
                                        <div class="col s4">{% g_html object.default object.title %}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:gallery.template_divisibility %}
                        <div class="row">
                        </div>
                    {% endif %}
                {% empty %}
                    <div class="row center">
                        <div class="right">
                            {% if is_users_gallery %}
                                <a href="{% url "user_gallery_upload" gallery.uuid %}" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add"></i></a>
                            {% elif is_default_gallery %}
                                <a href="{% url "upload_img" %}" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add"></i></a>
                            {% else %}
                                {# nothing here then #}
                            {% endif %}
                        </div>
                        <h1 class="header center orange-text">No Images</h1>

                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <ul class="pagination">
                    {% if images.has_previous %}
                       <li><a href="?page={{ images.previous_page_number }}"><i class="mdi-navigation-chevron-left"></i></a></li>
                    {% else %}
                        <li class="disabled"><a href="#"><i class="mdi-navigation-chevron-left"></i></a></li>
                    {% endif %}

                    {% for p in images.paginator.page_range %}
                        <li class="orange darken-3 waves-effect{% if p == images.number %} active{% endif %}"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endfor %}


                    {% if images.has_next %}
                       <li><a href="?page={{ images.next_page_number }}"><i class="mdi-navigation-chevron-ri"></i></a></li>
                    {% else %}
                        <li class="disabled"><a href="#"><i class="mdi-navigation-chevron-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

