{% extends "igng_base.html" %}
{% load imagekit %}
{% load markup_tags %}
{% load staticfiles %}


{% block hero %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center purple-text">iGNG</h1>

            <div class="row center">
                <h5 class="header col s12 light">
                    {% if gallery_name %}
                        Images in {{ gallery_name }}
                    {% else %}
                        Your Images
                    {% endif %}
                    {% if is_users_gallery %}
                        <a class="titlelinks" href="{% url "user_gallery_settings" gallery.uuid %}?ret=1" title="Settings">
                            <i class="mdi mdi-settings"></i>
                        </a>
                        <a class="titlelinks" href="{% url "gallery_permalink" gallery.uuid %}" title="Link">
                            <i class="mdi mdi-link"></i>
                        </a>
                    {% endif %}
                </h5>
            </div>
        </div>
    </div>
{% endblock %}
{% block contentarea %}

    <div class="container">
        <div class="right-align">
            {% if is_users_gallery %}
                <a href="{% url "user_gallery_upload" gallery.uuid %}"
                   class="btn-floating btn-large waves-effect waves-light red"><i class="mdi mdi-plus"></i></a>
            {% elif is_default_gallery %}
                <a href="{% url "upload_img" %}" class="btn-floating btn-large waves-effect waves-light red"><i
                        class="mdi mdi-plus"></i></a>
            {% else %}
                {# nothing here then #}
            {% endif %}
        </div>
        <div class="section">
            <div class="row">
                {% if gallery.display_density in gallery.display_card_class %}
                    {% for object in images %}
                        {# Each "contact" is a Contact model object. #}

                        <div class="col {{ gallery.template_display_class }}">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a class="boxme" href="{{ object.bigger.url }}">
                                        <img src="{{ object.default.url }}" />
                                    </a>
                                    <span class="card-title">{{ object.title }}</span>
                                </div>
                                <div class="card-content">
                                    <i class="mdi mdi-dots-vertical right activator" tabsel="info" tabpk="{{ object.pk }}"></i>
                                    <i class="mdi mdi-message-image right activator" tabsel="settings" tabpk="{{ object.pk }}"></i>
                                    {% if object.tags.exists %}
                                        <p>
                                            {% for t in object.tags.all %}
                                                <a class="">{{ t }}</a>
                                            {% endfor %}
                                        </p>
                                    {% else %}
                                        <p class="grey-text lighten-1">No Tags</p>
                                    {% endif %}
                                </div>
    {#                            <div class="card-action">#}

    {#                            </div>#}
                                <div class="card-reveal">
                                    <ul id="t{{ object.pk }}tabdad" class="tabs" style="display: None;">
                                        <li class="tab col s3"><a id="t{{ object.pk }}infoq" href="#t{{ object.pk }}info">Info</a></li>
                                        <li class="tab col s3"><a id="t{{ object.pk }}settingsq" href="#t{{ object.pk }}settings">Test 2</a></li>
                                        <li class="tab col s3"><a href="#test4">Test 4</a></li>
                                    </ul>
                                    <div id="t{{ object.pk }}info" class="col s12">
                                        <span class="card-title grey-text text-darken-4">{{ object.title }} <i class="mdi mdi-close right"></i></span>
                                        <div class="card-action">
                                            <a href="{{ object.full_fixed.url }}">Full Size</a>
                                            <a href='{{ object.bigger.url }}'>Bigger</a>
                                            <a href='{{ object.default.url }}'>Default Size</a>
                                            <a href='{{ object.preview.url }}'>Preview Size</a>
                                            <a href='{{ object.thumb.url }}'>Thumbnail</a>
                                            <a href='{{ object.tiny_thumb }}'>Tiny Thumbnail</a>
                                        </div>
                                        <div class="card-action">
                                            <div class="row">
                                                <div class="col s4">&emsp;</div>
                                                <div class="col s4">Full</div>
                                                <div class="col s4">Default</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s4">BBCode</div>
                                                <div class="col s4">{% g_bb object.full_fixed object.title %}</div>
                                                <div class="col s4">{% g_bb object.default object.title %}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s4">LinkedBB</div>
                                                <div class="col s4">{% g_bb_linked object.full_fixed object.title %}</div>
                                                <div class="col s4">{% g_bb_linked object.default object.title %}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s4">MarkDown</div>
                                                <div class="col s4">{% g_markdown object.full_fixed object.title %}</div>
                                                <div class="col s4">{% g_markdown object.default object.title %}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s4">HTML</div>
                                                <div class="col s4">{% g_html object.full_fixed object.title %}</div>
                                                <div class="col s4">{% g_html object.default object.title %}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="t{{ object.pk }}settings" class="col s12">
                                        <span class="card-title grey-text text-darken-4">{{ object.title }} <i class="mdi mdi-close right"></i></span>
                                    </div>
                                    <div id="test4" class="col s12">Test 4</div>

                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:gallery.template_divisibility %}
                            <div class="row">
                            </div>
                        {% endif %}
                    {% empty %}
                        <div class="row center">
                            <div class="right">
                                {% if is_users_gallery %}
                                    <a href="{% url "user_gallery_upload" gallery.uuid %}" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi mdi-plus"></i></a>
                                {% elif is_default_gallery %}
                                    <a href="{% url "upload_img" %}" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi mdi-plus"></i></a>
                                {% else %}
                                    {# nothing here then #}
                                {% endif %}
                            </div>
                            <h1 class="header center orange-text">No Images</h1>

                        </div>
                    {% endfor %}
                {% elif gallery.display_density in gallery.display_lapse_class %}
                    >>> video / autogif of the last xyz <<< <br/>
                    - remove pagination? <br />
                    - more images per page? <br />
                    {% for object in images %}
                        <img src="{{ object.thumb.url }}" width="{{ gallery.template_display_class }}"/>
                    {% endfor %}
                {% else %}
                {{ gallery.display_density }} / / / {{ gallery.display_card_class }}
                {% endif %}
            </div>
            <div class="row">
                <ul class="pagination">
                    {% if images.has_previous %}
                       <li><a href="?page={{ images.previous_page_number }}"><i class="mdi mdi-chevron-left"></i></a></li>
                    {% else %}
                        <li class="disabled"><a href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                    {% endif %}

                    {% for p in images.paginator.page_range %}
                        <li class="orange darken-3 waves-effect{% if p == images.number %} active{% endif %}"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endfor %}


                    {% if images.has_next %}
                       <li><a href="?page={{ images.next_page_number }}"><i class="mdi mdi-chevron-right"></i></a></li>
                    {% else %}
                        <li class="disabled"><a href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/1.4.3.1/css/fluidbox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/1.4.3.1/jquery.fluidbox.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/1.4.3.1/jquery.fluidbox.min.js"></script>
<script>
    $(document).ready(function () {
        $(".activator").click(function(){
            var id = $(this).attr('tabpk');
            var sel = $(this).attr('tabsel');

            var tabsel = "#t" + id + "tabdad";
            var tabtab = "#t" + id + sel + "q";
            var tabrrr = "t" + id + sel;
{#            console.log(tabsel);#}
{#            console.log(tabtab);#}
{#            console.log(tabrrr);#}
            $(tabsel).tabs('select_tab', tabrrr);
        });
    });
</script>
{% endblock %}