{% extends "igng_base.html" %}
{% load staticfiles %}

  {% block hero %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center purple-text">iGNG</h1>
      <div class="row center">
        <h5 class="header col s12 light">An Image Host</h5>
      </div>
      <div class="row center">
        <a href="{% url "upload_img" %}" id="download-button" class="btn-large waves-effect waves-light purple">Upload</a>
      </div>

    </div>
  </div>
  {% endblock %}
  {% block contentarea %}

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi mdi-flash"></i></h2>
            <h5 class="center">Doesn't log you out</h5>

            <p class="center light">We maintain your sessions, next level.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi mdi-account-multiple"></i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="center light">Features you'll see nowhere else. Plus: </p>
            <ul class="center ">
                <li class=""><i class="mdi mdi-chevron-right blue-text text-lighten-1"></i> you won't get logged out at random</li>
                <li><i class="mdi mdi-chevron-right blue-text text-lighten-1"></i>won't force you to use social features</li>
            </ul>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi mdi-settings"></i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="center light">All the bells and whistles you'd expect like paste-to-upload</p>
          </div>
        </div>
      </div>

    </div>
    <br><br><br>

    <div class="section">
    </div>

  </div>
  {% endblock %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
