{% extends "igng_base.html" %}

{% block hero %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center purple-text">iGNG</h1>

            <div class="row center">
                <h5 class="header col s12 light">
                    User Settings
                </h5>
            </div>
        </div>
    </div>
{% endblock %}

{% block contentarea %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="collection">
                    {% if user.password %}
                        <a href="{% url "account_change_password" %}" class="collection-item">Change Password</a>
                    {% else %}
                        <a href="{% url "account_set_password" %}" class="collection-item">Set Password</a>
                    {% endif %}
                    <a href="{% url "socialaccount_connections" %}" class="collection-item">Social Auth</a>
                    <a href="#!" class="collection-item">TODO add Other Things </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}