{% extends "igng_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block hero %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center purple-text">iGNG</h1>

            <div class="row center">
                {% if not custom_title %}
                <h5 class="header col s12 light">Upload</h5>
                {% else %}
                <h5 class="header col s12 light">{{ custom_title }}</h5>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}
{% block contentarea %}

    <div class="container">
        <div class="section">
            <form action="" method="post" enctype="multipart/form-data">
                {% crispy form form.helper %}
            </form>
        </div>
    </div>

    {{ media }}
{% endblock %}

{% block csso %}
    {% if template_tagging %}
    {# these need to be up here because of how it decides to work #}
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <link  href="{% static 'jquery-autosuggest/css/autoSuggest.css' %}"/>
    <script src="{% static 'jquery-autosuggest/js/jquery.autoSuggest.minified.js' %}"> </script>
    {% endif %}

    <style>
        .as-selection-item {
            background-color: #90caf9;
            float:left;
            margin-top: 2.5em;
            margin-left: 1em;
            margin-right: 1em;
            padding: 4px;
            border-radius: 10px;
        }
        .as-close {
            color: white;
            font-size: 110%;
        }
        .as-result-item {
            background-color: #90caf9;
            float:left;
            margin-top: 2.5em;
            margin-left: 1em;
            margin-right: 1em;
            padding: 4px;
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {% if template_tagging %}
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });

    </script>
{% endblock %}